 <div class='container'>
 
 <div class='sign_in'>
 <h3 id= 'login'>Log In</h3>
 
<%= form_with url: session_path,local: true do |f|%>

<div class='form-group'>
<%=f.label :email%>
<%= f.email_field :email, class:'form-control',placeholder:'Email' %>
</div>

<div class='form-group'>
<%= f.label :password%>
<%= f.password_field :password, class:'form-control',placeholder:'password' %>
</div>

<div class='form-group'>
<%= f.submit 'Log in' ,class:'btn btn-secondary',id:'login_btn'%>
</div>
<%end%>

<div class= 'redirects'>
<p>Forgot Passoword?</p>
<h6>Dont have an account? Sign up <%= link_to 'here',new_user_path%></h6>
</div>

</div>


</div>
<br><br><br><br><br>
