 <div class='container'>
<br>
 <h5>SHOP</h5>
<div class='d-flex justify-content-between'>
  <div class="form-inline form-group menu_item_search inline search-container">
       <%= text_field_tag 'search', '', id: 'menu_item_search_field', class:'search-box',placeholder:'Search...' %>
       <button class="search-button" type="submit"><i class="fas fa-search"></i></button>
  </div>

<div class='justify-content-right'>
<div class='inline'>
<h6 class='mt-2'>SORT</h6>
</div>

<div class='inline'>
<select id ='menu_item_sort'> 
  <% menu_item_sort_options.each do |option| %>
    <option data-href=<%= menu_item_sort_path(option.last) %> val=<%= option.last %> <%= 'selected' if @sort == option.last %>> 
      <%= option.first %>
    </option>
  <% end %>
</select>
</div>
</div>

</div>




 <div class='categories'>
 CATEGORIES: 
 <% Category.all.each do |category|%>
 <span>
 <%= link_to category.name,category_path(category) %>,
 </span>
 <%end%>
 </div>

  <div class="row">
    <% @menu_items.each do |item|%>

      <div class='col-4'> 
            <% if item.image.attached?%>
            <%= image_tag(item.image,class:'menu_item_image') %>
            <%end%>
        <div class='col-4'> 
            <h4> <%= link_to item.title, menu_item_path(item),class:'title'%></h4>
        </div>

        <div class='col-4'> 
            <h6><%= link_to  item.price, menu_item_path(item), class:'title'%></h6>
        </div>
        
        <div>
        <%= link_to("DELETE", menu_item_path(item),method: :delete, data:{confrim:'Delete item?'},class:'menu_item_delete')%>
        </div>
      </div>

  
  <%end%>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){

  $('select#menu_item_sort').on('change', function(){
    const selected = $('select#menu_item_sort option:selected');
    window.location.href = selected.data('href')
  })

  $('.menu_item_search button').on('click',function(){
    const search = $('#menu_item_search_field').val();
    window.location.href = "/menu_items?search=" + search;
  })
})
</script>
