 <div class='container'>

 <h5>SHOP</h5>


<div class="form-inline, form-group">
<div>
<%= label_tag 'search'%>
</div>
 <%= text_field_tag 'search'%>

    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
 </div>

 <div class='categories'>
 CATEGORIES: 
 <% Category.all.each do |category|%>
 <span>
 <%= link_to category.name,category_path(category) %>,
 </span>
 <%end%>
 </div>

  <div class="row">
    <% @menu_items.each do |item|%>

      <div class='col-4'> 
            <% if item.image.attached?%>
            <%= image_tag(item.image,class:'menu_item_image show') %>
            <%end%>
        <div class='col-4'> 
            <h3 class=title> <%= link_to item.title, menu_item_path(item)%></h3>
        </div>

        <div class='col-4'> 
            <h4 class='title'><%= link_to  item.price, menu_item_path(item)%></h4>
        </div>
      </div>

  

  <%end%>
  </div>
</div>