 <div class='container'>
 
 <br>
 <h5>SHOP</h5>

<div class='d-flex float-right'>
<div>

<strong>Filter </strong>
</div>
<div>
 <%= range_field_tag 'price', nil, min:0, max:100, oninput:'this.nextElementSibling.value = this.value',value:0,class:'ml-2' %>
</div>

 <output>0</output>
 </div>
 
<div class='text-center'>
<%= text_field_tag 'price_search' %> 
</div>

<div>
<%= submit_tag 'FILTER BY PRICE', id:'price-search-btn'%>
</div>

<div class='d-flex justify-content-between'>
  <div class="form-inline form-group menu_item_search inline search-container">
       <%= text_field_tag 'search', '', id: 'menu_item_search_field', class:'search-box',placeholder:'Search...' %>
       <button class="search-button" type="submit"><i class="fas fa-search"></i></button>
  </div>

  <div class='justify-content-right'>
    <div class='inline'>
      <h6 class='mt-2'>Sort by:</h6>
    </div>

  <div class='inline'>
    <select id ='menu_item_sort'> 
      <% menu_item_sort_options.each do |option| %>
        <option data-href=<%= menu_item_sort_path(option.last) %> val=<%= option.last %> <%= 'selected' if @sort == option.last %>> 
          <%= option.first %>
        </option>
      <% end %>
    </select>
  </div>
</div>

</div>




 <div class='categories'>
 CATEGORIES: 
 <% Category.all.each do |category|%>
    <span>
        <%= link_to category.name,category_path(category) %>,
    </span>
  <%end%>
 </div>

<div class='card ml-2 mr-2 mb-2 mt-2'>
<div class='ml-3 mr-3 mb-3 mt-3'>
  <div id="menu-items-container" class="row">
    <%= render partial: 'menu_items', locals: { menu_items: @menu_items } %>
  </div>
  </div>
</div>


<script type="text/javascript">
$(document).ready(function(){

  $('select#menu_item_sort').on('change', function(){
    const selected = $('select#menu_item_sort option:selected');
    window.location.href = selected.data('href')
  })

  $('.menu_item_search button').on('click',function(){
    const search = $('#menu_item_search_field').val();
    window.location.href = "/menu_items?search=" + search;
  })

  $('#price').on('change', function() {
    $.get(window.location.pathname + '/price_search?query=' + this.value).then(function(template) {
      let $container = $('#menu-items-container');
      $container.html(template);
    })
  })

  $('#price-search-btn').on('click', function(){

    const price = $('#price_search').val();
    $('#price').val(price)
    $('#price').trigger('change')
  })
})
</script>



