 <div class='container'>
 <%# <div class='card ml-4 mr-4 mb-4 mt-4'> %>
   <div class='ml-3 mr-3 '>

    <h5 id='shop-header'>Shop</h5>
    <hr>
      
      <div class='d-flex justify-content-between'>
      <%# search div 1 %>
        
          <div class="form-inline form-group menu_item_search inline search-container">
            <%= text_field_tag 'search', '', id: 'menu_item_search_field', class:'search-box',placeholder:'Search Items...' %>
            <button class="search-button" type="submit"><i class="fas fa-search"></i></button>
          </div>

          <div class='option-label'>
              <strong>CATEGORIES: </strong>
              <% Category.all.each do |category|%>
                <span>
                    <%= link_to category.name,category_path(category),class:'category-name' %>,
                </span>
              <%end%>
            </div>
        
          <%#   second div%>
          <div>
            <div>
            <div class='inline option-label category-label'>
              <strong>Filter </strong>
            </div>

            <div class='range-tag inline'>
              <%= range_field_tag 'price', nil, min:0, max:100, oninput:'this.nextElementSibling.value = this.value',value:0,class:'mb-4 range-tag' %>
              <output>0</output>
            </div>
            </div>

           <%#  price filter with button%>
              <div class='mb-3'>
                <div class=' mb-2 form-group inline'>
                  <%= text_field_tag 'price_search','',placeholder:'Enter price...',class:'form-control price-search' %> 
                </div>
              

                <div class='inline'>
                  <%= submit_tag 'FILTER', id:'price-search-btn',class:'btn btn-primary filter-price-tag'%>
                </div>
              </div>
            


        
            <%# sort by options %>
            <div>
            <div class='inline'>
              <strong class='mt-2 option-label category-label'>Sort by:</strong>
            </div>

            <div class='inline'>
              <select id ='menu_item_sort'> 
                <% menu_item_sort_options.each do |option| %>
                  <option data-href=<%= menu_item_sort_path(option.last) %> val=<%= option.last %> <%= 'selected' if @sort == option.last %>> 
                    <%= option.first %>
                  </option>
                <% end %>
              </select>
            </div>
          </div>
        </div>

        

            
          </div>
        </div>

        <%# menu item card container %>

          <%# <div class='card ml-4 mr-4 mb-4 mt-4'> %>
            <div class='ml-3 mr-3 mb-3 mt-3'>

              <div  id='menu-items-container'class="row">
                <%= render partial: 'menu_items', locals: { menu_items: @menu_items } %>
              </div>

            </div>
          <%# </div> %>

      </div>

      </div>
    <%# </div> %>

</div>


<script type="text/javascript">
$(document).ready(function(){

  $('select#menu_item_sort').on('change', function(){
    const selected = $('select#menu_item_sort option:selected');
    window.location.href = selected.data('href')
  })

  $('.menu_item_search button').on('click',function(){
    const search = $('#menu_item_search_field').val();
    window.location.href = "/menu_items?search=" + search;
  })

  $('#price').on('change', function() {
    $.get(window.location.pathname + '/price_search?query=' + this.value).then(function(template) {
      let $container = $('#menu-items-container');
      $container.html(template);
    })
  })

  $('#price-search-btn').on('click', function(){

    const price = $('#price_search').val();
    $('#price').val(price)
    $('#price').trigger('change');
    $('#price').trigger('oninput');
  })
})
</script>



