<div class='container'>

  <div class='inline'>
    <%= image_tag(@menu_item.image,class:'menu_item_image') %>
  </div>

<div class='inline'>
<h1 class='title2'><%= @menu_item.title.titleize %></h1>
<p class='label' id='price'>$<%= @menu_item.price%></p>
<p class='label'><%= @menu_item.description%></p>

<div class='inline2'>
<%= form_with model:@shopping_cart_item,local: true do |f|%>

<%= f.hidden_field :menu_item_id, value: @menu_item.id%>
<%  f.label :quantity%>
<%= f.number_field :quantity, min:1,value:1,class:'label',id:'quantity'%>

<%= f.submit 'ADD TO CART',class:'btn btn-primary'%>

<%end%>
<br>
</div>


<br>

<% @menu_item.categories.each do |category|%>
<h6  class='label'>CATEGORIES: <%= category.name%></h6>
<%end%>

<h6 class='label'>SHARE: <a href="https://www.facebook.com/"> <i class="fab fa-facebook-f"></i></a>
 <a href="https://twitter.com/login?lang=en/"> <i class="fab fa-twitter "></i></a>
 <a href="https://www.instagram.com/accounts/login/"> <i class="fab fa-instagram"> </i></a>
 </h6>
</div>


<%# This is a review list  %>
<% @reviews.each do |review|%>
  <div>
    <%= review.user&.first_name || "DELETED" %> says 
  </div>
  <div>
    <%= display_stars(review)%>
  </div>
  <div>
    <%= review.body %>
  </div>
  <% if review.replies.exists? %>
    <ul>
      <% review.replies.each do |reply| %>
        <li><%= reply.message %> - <%= reply.user.first_name %></li>
      <% end %>
    </ul>
  <% end %>
  <% if current_user == review.user %>
    <%= link_to "Delete",menu_item_review_path(@menu_item,review), method: :delete,data: {confirm: "Delete review?"} %>
  <% end%>
  <div>
    <%= link_to 'Reply', '#', class: 'reply-btn' %>
    <div class='d-none reply'>
      <%= form_for Reply.new do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :review_id, value: review.id %>
        <%= f.text_area :message %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
<% end %>


<br>
<% if current_user && !@reviews.where(user: current_user).exists? %>
  <h2 class='review_title'>ADD A REVIEW</h2>
  <%= form_with model:[@menu_item,@review], local: true do |f|%>

  <% if @review.errors.present?%>
      <%= @review.errors.full_messages.join(', ')%>
  <%end%>

  <div>
  <i class="far fa-star"></i>
  <i class="far fa-star"></i>
  <i class="far fa-star"></i>
  <i class="far fa-star"></i>
  <i class="far fa-star"></i>
  </div>
  <div class='form-group d-none'>
  <%= f.label :rating,'Your rating'%>
  <%= f.select :rating,Array(1..5), class: 'form-control '%>
  </div>

  <div class='form-group'>
  <%= f.label :body,'Review'%>
  <%= f.text_area :body, cols: 50, rows: 5,class:'form-control'%>
  </div>

  <%# place name and email for user to submit with review %>
  <div class='form-group'>
  <%= f.label :first_name,'Name'%>
  <%= f.text_field :first_name, class:'form-control', value: current_user&.first_name%>
  </div>

  <div class='form-group'>
  <%= f.label :email%>
  <%= f.email_field :email,class:'form-control', value: current_user&.email%>
  </div>

  <div class='form-group'>
    <%= f.submit 'Submit', class:'btn btn-secondary cart'%>
  </div>
  <br>

  <%end%>
<% end %>

</div>

<script type='text/javascript'>
   $('.fa-star').on('click',function(){
     var allStars = $('.fa-star')
     for (var i = 0; i < allStars.length+1; i++) {
       $(allStars[i]).removeClass('fas');
       if (!$(allStars[i]).hasClass('far')) {
        $(allStars[i]).addClass('far');
       }
     }

     for (var i = 0; i < $(this).index()+1; i++) {
       $(allStars[i]).removeClass('far');
       $(allStars[i]).addClass('fas');
     }
     $('#review_rating').val($(this).index() + 1);
   })

   $('.reply-btn').on('click', function(e) {
     e.preventDefault();
     const formContainer = $(this).siblings('.reply')[0];
     $(formContainer).removeClass('d-none')
   })

</script>