<div class='container'>

<div class='inline'>
<%= image_tag(@menu_item.image,class:'show') %>
</div>

<div class='inline'>
<h1 class='title2'><%= @menu_item.title %></h1>
<p class='label'><%= @menu_item.description%></p>
<p class='label'>$<%= @menu_item.price%></p>

<div class='inline2'>
<%= form_with model:@shopping_cart_item,local: true do |f|%>

<%= f.hidden_field :menu_item_id, value: @menu_item.id%>
<%= f.label :quantity%>
<%= f.number_field :quantity, min:1%>

<%= f.submit 'Add to cart'%>

<%end%>

</div>



<h6 class='label'>CATEGORIES:</h6>
<% @menu_item.categories.each do |category|%>
<p>  <%= category.name%></p>
<%end%>
<h6 class='label'>TAGS:</h6>
<h6 class='label'>SHARE</h6>
</div>

<div>
<%# This is a review list  %>
<% @reviews.each do |review|%>
<%= display_stars(review)%>
<%= review.body %>
<% end %>
</div>

<h2>ADD A REVIEW</h2>
<%= form_with model:[@menu_item,@review], local: true do |f|%>


<div class='form-group'>
<%= f.label :rating,'Your rating'%>
<%= f.select :rating,Array(1..5), class: 'form-control'%>
<div>

<div class='form-group'>
<%= f.label :body,'Review'%>
<%= f.text_area :body, cols: 50, rows: 5,class:'form-control'%>
<div>

<%# place name and email for user to submit with review %>
<div class='form-group'>
<%= f.label :first_name,'Name'%>
<%= f.text_field :first_name, class:'form-control', value: current_user.first_name%>
</div>

<div class='form-group'>
<%= f.label :email%>
<%= f.email_field :email,class:'form-control', value: current_user.email%>
</div>

<div class='form-group'>
<%= f.submit 'Submit', class:'btn btn-secondary cart'%>
<div>
<br>

<%end%>


</div>