
<div class='container'> 


  <h1 class='header'> reserve your table </h1>

  <br><br><br><br>

  <%= form_with model:@booking, local: true do |f|%>


  <div class='inline num-people'>
    <% num_people_array = Array(1..10).map { |number| ["#{number} people", number] } %>
    <% f.label :num_people %>
    <%= f.select :num_people, num_people_array,class:'btn btn-primary',value:1 %>
  </div>

  <div class='inline'>
    <% f.label :date%>
    <%= f.date_field :date, min: Date.today, class:'btn btn-primary',value:Date.today %>
  </div>


  <div class='inline'> 
    <% f.label :time %>
    <%= f.time_field :time,class:'btn btn-primary',value:Time.now.to_s%>
  </div>

  <div class='inline'>
    <%= f.submit 'BOOK NOW',class:'btn btn-primary ' %>
  </div>


<br><br><br><br><br><br><br><br>

<%end%>
<br><br><br><br>

</div>

