<div class='table'>
<div class='container'> 
<div class='mt-3 mb-3'>

<h1 class='header'> reserve your table </h1>

<br><br><br><br><br><br>

<%= form_with model:@booking, local: true do |f|%>


<div class='inline'>
<%= f.label :num_people %>
<%= f.select :num_people, Array(1..10),class:'btn btn-primary'  %>
</div>

<div class='inline'>
<%= f.label :date%>
<%= f.date_field :date, min: Date.today, class:'btn btn-primary' %>
</div>


<div class='inline'> 
<%= f.label :time %>
<%= f.time_field :time,class:'btn btn-primary'%>
</div>

<div class='inline'>
<%= f.submit 'BOOK NOW',class:'btn btn-primary ' %>
</div>
</div>


<br><br><br><br><br><br><br><br>

<%end%>

</div>
</div>
