<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="collapse navbar-collapse justify-content-end">
    <ul class="navbar-nav ">

      <li class="nav-item active">
         <%= link_to "HOME", root_path, class:"nav-link" %> 
      </li>
      
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          EXPLORE
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          
          <%= link_to "About us", about_path, class:"dropdown-item" %> 
          <%= link_to "Gallery", gallery_path, class:"dropdown-item" %> 
          <%= link_to "Contact us", contact_path, class:"dropdown-item" %> 
          <%= link_to "Booking", new_booking_path, class:"dropdown-item" %> 

          
          
        </div>
      </li>

      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          MENU
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Appetizers", menutypes_path, class:"dropdown-item"%> 
          <%= link_to "Main Course", menutypes_path, class:"dropdown-item"%> 
          <%= link_to "Desserts", menutypes_path, class:"dropdown-item"%> 
          
        </div>
      </li>

      <li class="nav-item active">
        <%= link_to "SHOP", menu_items_path, class:"nav-link" %> 

      </li>
         

      <li class="nav-item active">

      <% if current_user %>

        <%= link_to "LOGOUT", session_path, method: :delete,
        data: {confirm: 'Are you sure you want to log out?'}, class:"nav-link" %> 
      <% else%>
        <%= link_to "LOGIN", new_session_path,class:"nav-link" %>

      <% end%>
      </li>
      <% if current_user %>
      <li>
        <i class="fa fa-shopping-cart"></i>
        <span class='badge badge-warning' id='lblCartCount'> <%= current_user.shopping_cart_items_count%></span>
      </li>
      <%end%>
    </ul>
    
  </div>
</nav>