<nav class="navbar navbar-expand-lg navbar-dark ">
<div>
  <%# <img class="img-responsive logo" src="home/logo.jpg" alt="logo"> %>
  <%= image_tag("home/logo.png",class:'img-responsive logo')%>
</div>

  <div class="collapse navbar-collapse justify-content-center mt-3">
    <ul class="navbar-nav ">

      <li class="nav-item active">
         <%= link_to "HOME", root_path, class:"nav-link" %> 
      </li>
      
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          EXPLORE
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          
          <%= link_to "About us", about_path, class:"dropdown-item" %> 
          <%= link_to "Gallery", gallery_path, class:"dropdown-item" %> 
          <%= link_to "Contact us", contact_path, class:"dropdown-item" %> 
          <%= link_to "Booking", new_booking_path, class:"dropdown-item" %> 

          
          
        </div>
      </li>

      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          MENU
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Appetizers", menutypes_path, class:"dropdown-item"%> 
          <%= link_to "Main Course", menutypes_path, class:"dropdown-item"%> 
          <%= link_to "Desserts", menutypes_path, class:"dropdown-item"%> 
          
        </div>
      </li>

      <li class="nav-item active">
        <%= link_to "SHOP", menu_items_path, class:"nav-link" %> 
      </li>

        <% if current_user&.is_admin %>
       <li class="nav-item">
        <%= link_to "ADMIN", admin_path, class:"nav-link" %>
       </li>  
      <% end %>


      <li class="nav-item active">

      <% if current_user %>
      <div class='d-inline-block user-name'>
      Hello <%= current_user&.first_name %> 
      </div>
       
       
      <div class='d-inline-block logout'>
      <%= link_to "LOGOUT", session_path, method: :delete,
        data: {confirm: 'Are you sure you want to log out?'}, class:"nav-link" %> 
      </div>

      
      
      <% else%>
        <%= link_to "LOGIN", new_session_path,class:"nav-link" %>
      <% end%>

      </li>
      <% if current_user %>
      <li>
        <%= link_to ('<i class="fa fa-shopping-cart"></i>').html_safe, shopping_cart_items_path  %>
        <span class='badge badge-warning' id='lblCartCount'> <%= current_user.shopping_cart_items_count%></span>
      </li>
      <%end%>
    </ul>
    
  </div>
</nav>