
<div class= 'container'>


<br>

<div>
<h3 class='heading mb-4'>Gallery</h3>
</div>


<div class='row'>

<div class='col mb-4 ml-2 mr-2'>
<%= image_tag 'gallery/gallery1.jpg', class:'image' %>
</div>

<div class='col mb-4 ml-2 mr-2'>
<%= image_tag 'gallery/gallery2.jpg', class:'image' %>
</div>

<div class='col mb-4 ml-2 mr-2'>
<%= image_tag 'gallery/gallery3.jpg', class:'image' %>
</div>

<div class='col mb-4 ml-2 mr-2' >
<%= image_tag 'gallery/gallery4.jpg', class:'image' %>
</div>

<div class='col mb-4 ml-2 mr-2'>
<%= image_tag 'gallery/gallery5.jpg', class:'image' %>
</div>

<div class='col mb-4 ml-2 mr-2'>
<%= image_tag 'gallery/gallery6.jpg', class:'image' %>
</div>




</div>
</div>

