<div class= 'container'>
<div>
<h3 class='heading'>GALLERY</h3>
</div>
<div>
<%= image_tag 'gallery/gallery1.jpg', class:'image' %>
<%= image_tag 'gallery/gallery2.jpg', class:'image' %>
<%= image_tag 'gallery/gallery3.jpg', class:'image' %>
<%= image_tag 'gallery/gallery4.jpg', class:'image' %>
<%= image_tag 'gallery/gallery5.jpg', class:'image' %>
<%= image_tag 'gallery/gallery6.jpg', class:'image' %>
</div>

</div>