<div class = 'container'>

<%# <div class='card mb-4 mt-4 ml-4 mr-4'> %>

<div class='ml-4 mr-4'>
  <br>
  <div>
    <h4 id='location-title'>Location</h4>
    <br>
    <iframe
      width="100%"
      height="450"
      style="border:0"
      loading="lazy"
      allowfullscreen
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC-jAtWU8cRxEAi1kKH1CbysiE39WNi3Ok
        &q=Code+Core,Newestminster+Va">
    </iframe>
  </div>
  <br>

  <div class='card contact'>
  <div class= 'content'>

  <h5 id='title'>Write to us</h5>


  <%= form_tag('/contact/send_email', method: :post) do%>
    <div class="form-group mb-3">
      <%= label_tag :name, 'Name', class:"required-field" %>
      <%= text_field_tag :name, nil, class: "form-control" %>
    </div>

    <div class ='form-group mb-3'>
      <%= label_tag :email,'Email',class:"required-field"%>
      <%= email_field_tag :email, nil, class: 'form-control'%>
    </div>



    <div class="form-group mb-3">
      <%= label_tag :message, 'Message',class:"required-field" %>
      <%= text_area_tag :message, nil, class: 'form-control',:cols => 30, :rows => 10 %>
    </div>

    <div class="form-group mb-3">
      <%= submit_tag 'SEND' , class:'btn btn-outline-primary btn-lg',id:'submit'%>
    </div>

  <% end %>
  </div>
  </div>

  
</div>
<%# </div> %>
</div>