


<div class='container'>
<div class="card" style="width: 40rem;">

  <div class="card-body">
      <div class='header'>
        <h5 class="card-title">
          <h5 class='mb-2 stars'>************** your receipt ****************</h5>
          <div>
            <%= image_tag("home/logo.png",class:'img-responsive logo')%>
         </div>
          <h6>628 6th Ave #600</h6>
          <h6> New Westminster, BC</h6>
          <strong>Purchase id: <%= @transaction.id%> </strong>
        </h5>
      </div>
        <hr>
      <div class='items'>
      <h6 class="card-subtitle mb-2 text-muted">
        <div>
            <strong>Bought:</strong>
            <ol>
              <% @transaction.menu_items.each do |menu_item_title, data| %>
                <li><%= data['quantity'] %> <%= menu_item_title %> @ <%= number_to_currency(data['price']) %> each </li> 
              <% end %>
            </ol>
            <hr>
            <strong>Total: <%= number_to_currency(@transaction.total / 100.0) %> </strong>
            <p>Bought on <%= @transaction.created_at.to_date%> </p>
            <strong>Please Note: The above amount includes taxes! </strong>
      </div>
    </h6>
  </div>

        <div class='header'>
          <strong class='stars'>*****************************************************************</strong>
          <p class='stars'>Thank you for shoppping with us. Hope you enjoy your meal</p>
          <strong class='stars'>*****************************************************************</strong>
        </div>
  </div>
</div>

<br><br>

    <%= link_to "BACK", menu_items_path, class:"btn btn-success" %> 
</div>
<br><br><br><br><br><br><br><br>