<div class='container'>

<div class='card ml-4 mr-4 mb-4 mt-4'>
<div class='ml-4 mr-4 mb-4 mt-4'>

<br>
<h3 class='cart-title'>Your order</h3>
<hr>
<br>

<table class='table table-striped'>
<tbody>

<tr>
<td>subtotal</td>
<td><%= @shopping_cart.subtotal%></td>
</tr>

<tr>
<td>tax</td>
<td><%= @shopping_cart.tax.round(2)%></td>
</tr>

<tr>
<td>delivery fee</td>
<td><%= @shopping_cart.delivery_fee.round(2)%></td>
</tr>

<tr>
<td>Total</td>
<td> <%=@shopping_cart.final_total.round(2)%> </td>
</tr>

</tbody>
</table>

<% if current_user.stripe_id %>
<p>Pay with **** **** **** <%= last_four_digits(current_user) %></p>
<%= link_to "PAY $#{ @shopping_cart.final_total.round(2)}", pay_path, class: 'btn btn-primary' %>
  <%end%>

<br>
<% if current_user.stripe_id.nil? %>
  <%= form_tag create_payment_method_path, id: "billing-create-payment-method" do  %>
  <div class='inline-block'>
    <%= link_to "ADD CREDIT CARD", add_payment_method_path, remote: true, class: "btn btn-primary" %>
  </div>
<% end %>
<% end %>
<br>
<div class='inline-block'> 
<%= link_to 'UPDATE CART', shopping_cart_items_path,class:'btn btn-primary' %>
</div>
<br><br><br><br><br><br>

</div>
</div>
</div>