<div class='container'>
<%  if @shopping_cart.shopping_cart_items %>
<h3>CART</h3>
<table class='table table-striped'>
<thead>
<tr>
<th></th>
<th>Item</th>
<th>Price</th>
<th>Quantity</th>
<th>Subtotal</th>

</tr>
</thead>
<tbody>
<% @shopping_cart.shopping_cart_items.each do |item|%>
<tr>
<td><%= link_to("X",shopping_cart_item_path(item),method: :delete, data:{confirm:"Delete item?"} )%></td>

<td><%= item.menu_item.title%></td>
<td><%= item.menu_item.price%></td>
<td><%= item.quantity%></td>
<td><%= item.subtotal%></td>
</tr>
<%end%>

<tr>
<td>Total</td>
<td></td>
<td></td>
<td></td>
<td> <%=@shopping_cart.subtotal%> </td>
</tr>
</tbody>
</table>

<div class='d-flex float-right'>
<button class='btn btn-primary'> <%= link_to "CONTINUE SHOPPING", menu_items_path %>  </button>
</div>
 <br><br>
<div class='d-flex float-right'>
<button class='btn btn-primary'> <%= link_to "PROCEED TO CHECKOUT", menu_items_path %>  </button>
</div>
<br><br><br><br><br><br><br><br><br>
<% else %>
<h6>You dont  have any items in your cart</h6>
<% end %>


</div>