<div class ='container'>
<br>
<%= form_with model: @menu_type, local: true do |f| %>
<% if @menu_type.errors.present? %>
<%= @menu_type.errors.full_messages.join(', ')%>
<%end%>


  <div class='form-group'>
     <%=f.label :menutype%>
     <%= f.text_field :menutype, class:'form-group'%>
  </div>

  <div class ='form-group'>
     <%= f.submit 'Create Menutype',class:'btn btn-primary'%>
  </div>
 <%end%>
</div>
